.site-menu {
    // margin-top: 40px;
    padding-top: 40px;
    background: $primary_color;

    .container {
        max-width: 90% !important;
    }

    h2 {
        font-size: 50px;
        font-weight: 500;
    }

    .nav-tabs{
        display: flex;
        justify-content: center;
    
        .nav-link {
            margin-right: 60px;
            border: 0;
            color: $secondary_color;
            opacity: 0.7;
            padding-bottom: 10px;

            .fa {
                font-size: 30px;
                font-weight: lighter;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .active {
            color: $color !important;
            border-bottom: 3px solid $color !important;
        }
    }

    .tab-pane {
        padding-top: 50px;
        
        .single-delicious {
            display: flex;
            padding-bottom: 30px;

            form {
                display: flex;
            }

            input {
                margin: 5px 0 20px 0;
                border: 1px solid $color;
                border-radius: 10px;

                &::visibility {
                    border: 1px solid $color; 
                }
            }

            .thumb {
                padding-right: 20px;
            }

            .price {
                display: flex;
                flex-direction: column;
                // max-width: 80%;
            }

            .btn-primary {
                background: $color !important;
                border: 0;
                // border-radius: 10px;
                padding: 5px 15px;
            }
        }

    }

}